.vue-form {
    color: var(--bulma-text);

    &.box {
        position: relative;
        z-index: 2;
        overflow: visible;
    }

    .form-tabs {
        position: relative;
        z-index: 1;
    }

    .tag.error-count {
        padding: 0.5em;
        margin-left: 0.3em;
    }

    .title,
    .subtitle,
    strong,
    .help,
    .content,
    .section-divider {
        color: inherit;
    }

    .title,
    .subtitle,
    strong {
        color: var(--bulma-text-strong);
    }

    .label {
        margin-bottom: 0.3rem;
    }

    .help,
    .section-divider {
        color: var(--bulma-text-light);
    }

    .help.is-danger {
        color: var(--bulma-danger);
    }

    .help.is-warning {
        color: var(--bulma-warning);
    }

    .help.is-success {
        color: var(--bulma-success);
    }

    .control.has-icons-left .icon,
    .control.has-icons-right .icon {
        color: var(--bulma-text-light);
    }

    .control.has-icons-right .delete {
        background-color: var(--bulma-text-light);
    }

    .control.has-icons-right .icon.reveal-password {
        pointer-events: all;
    }

    .title.form-title .icon {
        vertical-align: text-bottom;
    }

    .section-divider {
        width: 100%;
        padding: 0.75rem;
    }

    .field .vue-switch {
        min-height: var(--bulma-control-height);
        margin-top: 0;
        margin-bottom: 0;
    }

    .box.is-shadowless {
        background-color: var(--bulma-card-header-background-color) !important;
        box-shadow: none;
        color: var(--bulma-text);
    }
}
